---
import Boton from "../components/Boton.astro";
import DisExp from "../components/DisExp.astro";
import Layout from "../layouts/Layout.astro";
import Carrusel from "../components/Carrusel.astro";
const imgs = [
  '/Carrousel/1.webp',
  '/Carrousel/2.webp',
  '/Carrousel/3.webp',
  '/Carrousel/4.webp'
]
const anim = {
  old: {
    name: "trans",
    duration: "2s",
  },
  new: {
    name: "trans",
    duration: "2s",
    direction: "reverse"
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="p-10 scroll-smooth">
    <section class="flex justify-center pt-20">
      <div class="flex w-full flex-col lg:flex-row">
        <h1
          class="dmad-tit text-7xl sm:text-8xl [writing-mode:horizontal-tb] m-0 font-tektur text-lima font-semibold"
        >
          DEL MANDO <br /> AL DISEÑO
        </h1>
        <div class="flex flex-col md:flex-col gap-5">
          <h2
            class="m-0 font-tektur font-medium text-left min-h-min row-start-3 md:row-start-auto text-blanco"
          >
            La guía para diseñadores y desarrolladores sobre la UX en
            videojuegos
          </h2>
          <Boton
            trans="u" 
            href="#acerca"
            text="Empezar el juego"
            class="h-10 aspect-auto md:aspect-2/1"
          />
        </div>
      </div>
      <div
        class="absolute origin-top scale-100 left-0 top-150 translate-y-1/8 bg-cover bg-center bg-[url(/images/1.png)] w-full h-110 mask-b-from-10% mask-b-to-50%"
      >
      </div>
    </section>

    <div
      class="flex flex-col xl:flex-row justify-center content-center mt-90 mb-70 font-tektur font-medium text-center text-4xl relative w-full"
    >
      <DisExp />
    </div>

    <article id="acerca"
      class="section flex flex-col md:grid gap-0 grid-cols-4 grid-rows-1 items-center pt-20"
    >
      <div class="sEle flex flex-col col-span-2">
        <h2 class="text-center font-tektur text-5xl text-lima" >Acerca del proyecto</h2>
        <p class="font-kaku font-medium text-blanco">
          “DEL MANDO AL DISEÑO” Es un proyecto de investigación de diseño que
          busca entrenar a los desarrolladores y diseñadores de videojuegos con
          conceptos y fundamentos sobre la experiencia de usuario (UX) para que
          puedan ser aplicados de forma efectiva en sus proyectos y asi ofrecer
          un producto de calidad y con una jugabilidad exquisita.
        </p>
      </div>
      <div class="sEle flex">
        <Boton trans="hola" href="/Acerca" text="Conocer más" class="aspect-2-1" />
      </div>
      <div
          class="sEle absolute bg-[url(/images/2.png)] scale-100 bg-cover bg-center xl:scale-150 w-120 h-120 origin-center -translate-y-1/3 -z-1 pointer-events-none mask-b-from-20% mask-b-to-70% order-1"
      >
      </div>
    </article>

    <section
      class="flex flex-col sm:grid gap-4 grid-cols-4 grid-rows-[repeat(3, 1fr)] my-50 p-4"
    >
      <Boton
        trans="termin" 
        href="/Terminologia"
        text="Terminología UX"
        sub="“Fricción” “Flujo” “Usabilidad”, Terminos y fundamentos al tomar en cuenta para mejorar la experiencia del usuario."
        class="sm:col-span-2 sm:aspect-2/1"
      />

      <h1 class="-order-1 text-center font-tektur text-5xl text-lima">Nuestras secciones</h1>

      <Boton
        trans="q"
        text="Recursos"
        sub="Herramientas digitales que te ayudarán en la exploración de la UX en tus proyectos"
        class="sm:col-start-2"
      />

      <Boton
        trans="t"
        text="Noticias UX"
        sub="Conoce sobre los últimos temas de interés en el mundo de la experiencia de usuario en videojuegos."
        class="sm:col-span-2 sm:aspect-2/1"
      />

        <div
          class="col-span-3 absolute bg-[url(/images/3.png)] w-100 h-100 bg-cover bg-center left-0 -translate-y-1/2 translate-x-70 origin-right scale-200 mask-l-from-40% -z-2"
        >
        </div>

      <Boton
        trans="z"
        text="Quienes somos"
        sub="¿ Quienes hicieron este proyecto ? ¿ Contactos? ¿Feedback?"
        class="sm:col-start-4"
      />
    </section>

    <section class="flex w-full section">
      <div class="w-100">
        <h2 class="font-tektur text-lima text-4xl text-center sEle">Manuales complementarios</h2>
        <Carrusel images={imgs} ></Carrusel>
        <p class="sEle text-blanco font-kaku text-pretty text-center font-medium">
          Consigue nuestros manuales sobre la UX en los videojuegos, con
          información mas profunda, terminología atemporal, casos de estudio
          famosos y practicas aplicables. <br />
          <br /> Disponibles en formatos físicos y digitales!
        </p>
        <Boton trans="y" text="Consiguelos ahora" class="sEle" />
      </div>
    </section>
    
  </main>
  <footer class="flex flex-col md:flex-row justify-between items-center mt-40 bg-lima px-20 py-10 font-kaku text-center text-azul font-medium">
    <div class=" pb-5 border-b-4 border-azul">
      <p class="font-black text-2xl">Desarrollado por:</p>
      <p>Alejandro Moreno y Angel Poveda</p>
      <p>Noviembre de 2025</p>
    </div>
    <div class="pt-5">
      <p>INSTITUTO UNIVERSITARIO BELLAS ARTES</p>
      <p>DISEÑO GRAFICO</p>
      <p>3er SEMESTRE</p>
    </div>
    <img src="/BALogo.svg" alt="" class="w-40 fill-azul">
  </footer>
  </div>
</Layout>

<script src="../layouts/Animations.js" ></script>