---
import Boton from "../components/Boton.astro";
import DisExp from "../components/DisExp.astro";
import Layout from "../layouts/Layout.astro";
import Carrusel from "../components/Carrusel.astro";
import FondoBloques from "../components/FondoBloques.astro";
const imgs = [
  '/Carrousel/1.webp',
  '/Carrousel/2.webp',
  '/Carrousel/3.webp',
  '/Carrousel/4.webp'
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="p-10 max-w-250">
    <FondoBloques></FondoBloques>
    <section class="flex flex-col sm:flex-row justify-items-center pt-15 md:pt-40 overflow-hidden-x gap-10">
        <h1
          class="dmad-tit text-6xl sm:text-8xl [writing-mode:horizontal-tb] m-0 font-tektur text-lima font-semibold text-center"
        >
          DEL MANDO <br /> AL DISEÑO
        </h1>
        <div class="flex flex-col justify-center items-center gap-10">
          <h2
            class="m-0 font-tektur font-medium text-center text-2xl min-h-min row-start-3 md:row-start-auto text-blanco"
          >
            La guía para diseñadores y desarrolladores sobre la UX en
            videojuegos
          </h2>
          <a href="#acerca" class="bg-lima text-2xl h-10 w-100 rounded-2xl p-5 no-underline items-center justify-evenly hover:scale-105 transition-all hidden sm:inline-flex">
            <h2 class="text-azul font-tektur">Empezar el juego</h2>
            <img src="/icons/Iconos-18.svg" alt="" class="w-10">
          </a>
          <a class="flex max-w-15 aspect-ratio-1/1 animate-[bounce_1s_ease-out_infinite] bg-lima border-0 rounded-2xl block sm:hidden" href="#acerca">
            <img src='/icons/Iconos-18.svg' alt="" class="w-full">
          </a>
        </div>
      </div>
      <div
        class="absolute origin-center scale-130 left-0 top-180 md:top-230 scale-120 md:scale-200 -translate-y-1/3 md:-translate-y-1/9 bg-contain bg-top bg-no-repeat bg-[url(/images/1.png)] w-full h-110 mask-b-from-10% mask-b-to-50% -z-1"
      >
      </div>
    </section>

    <div
      class="flex flex-col xl:flex-row justify-center content-center mt-60 sm:mt-190 mb-70 font-tektur font-medium text-center text-4xl relative w-full"
    >
      <DisExp />
    </div>

    <article
      class="section flex flex-col md:grid gap-5 grid-cols-4 grid-rows-1 items-center pt-20 px-5"
    >
      <div class="sEle flex flex-col col-span-2">
        <h2 class="text-center font-tektur text-5xl text-lima" >Acerca del proyecto</h2>
        <p class="font-kaku font-medium text-pretty text-blanco">
          “DEL MANDO AL DISEÑO” Es un proyecto de investigación de diseño que
          busca entrenar a los desarrolladores y diseñadores de videojuegos con
          conceptos y fundamentos sobre la experiencia de usuario (UX) para que
          puedan ser aplicados de forma efectiva en sus proyectos y asi ofrecer
          un producto de calidad y con una jugabilidad exquisita.
        </p>
      </div>
      <Boton icono="/icons/Iconos-02.svg" trans="hola" href="/Acerca" text="Conocer más" class="aspect-1/1 " />
      <div
          class="sEle absolute bg-[url(/images/2.png)] scale-100 bg-cover bg-no-repeat md:bg-contain bg-center xl:scale-120 w-full h-120 origin-center -translate-y-1/2 md:-translate-y-0 md:-right-100 -z-1 mask-linear-from-20% md:mask-linear-from-60% mask-linear-180 md:mask-linear-90 mask-linear-to-80% order-1"
      >
      </div>
    </article>

    <section id="acerca"
      class="section flex flex-col md:grid gap-4 grid-cols-4 grid-rows my-50 p-4"
    >
        <Boton
          icono="/icons/Iconos-06.svg"
          trans="termin" 
          href="/Terminologia"
          text="Terminología UX"
          sub="“Fricción” “Flujo” “Usabilidad”, Terminos y fundamentos al tomar en cuenta para mejorar la experiencia del usuario."
          class="sm:col-span-2 sm:aspect-2/1 sEle"
        />

        <div class="flex flex-col -order-1 md:-order-0 sm:col-span-2 justify-center sEle">
          <h1 class="text-center md:text-left font-tektur text-5xl text-lima">Nuestras secciones</h1>
          <p class="font-kaku text-blanco text-pretty">Todo lo que nuestra web tiene para ofrecerte, explora cada uno y aprende del maravilloso mundo UX, desde recursos y herramientas, hasta noticias.</p>
        </div>

        <Boton
          icono="/icons/Iconos-14.svg"
          trans="recur"
          text="Recursos UX"
          href="/Recursos"
          sub="Herramientas digitales que te ayudarán en la exploración de la UX en tus proyectos"
          class="sm:col-start-2 sEle"
        />

        <Boton
          icono="/icons/Iconos-07.svg"
          trans="noticias"
          text="Noticias UX"
          href="/Noticias"
          sub="Conoce sobre los últimos temas de interés en el mundo de la experiencia de usuario en videojuegos."
          class="sm:col-span-2 sm:aspect-2/1 sEle"
        />

        <div
          class="md:col-span-3 absolute bg-[url(/images/3.png)] w-full h-100 bg-cover bg-no-repeat md:bg-contain bg-center left-0 -translate-y-1/2 md:translate-y-80 translate-x-70 md:translate-x-30 origin-right scale-200 mask-linear-from-40% mask-linear-180 md:mask-linear-270 -z-2 -order-1 sEle"
        >
        </div>

        <Boton
          icono="/icons/Iconos-13.svg"
          trans="somos"
          href="/Somos"
          text="Quienes somos"
          sub="¿ Quienes hicieron este proyecto ? ¿ Contactos? ¿Feedback?"
          class="sm:col-start-4 sEle"
        />
    </section>

    <section class="flex flex-col grid-cols-2 w-full md:flex-row section md:gap-10">
        <div class="row-span-2">
          <h2 class="font-tektur text-lima text-5xl text-center sEle md:hidden block">Manuales UX</h2>
          <Carrusel images={imgs} ></Carrusel>
        </div>
        <div class="flex flex-col justify-between">
          <h2 class="font-tektur text-lima text-5xl text-center sEle hidden md:block mt-0">Manuales UX</h2>
          <p class="sEle text-blanco font-kaku text-pretty text-center font-medium">
          Consigue nuestros manuales sobre la UX en los videojuegos, con
          información mas profunda, terminología atemporal, casos de estudio
          famosos y practicas aplicables. <br />
          <br /> Disponibles en formatos físicos y digitales!
        </p>
        <Boton 
        icono="/icons/Iconos-19.svg" 
        trans="y" 
        href="https://www.calameo.com/read/0080716261295ce09a005"
        type="_blank"
        text="Consiguelos ahora" 
        class="sEle " />
        </div>
    </section>
    
  </main>
  <footer class="flex flex-col md:flex-row justify-between items-center mt-40 bg-lima px-20 py-10 font-kaku text-center text-azul font-medium rounded-2xl">
    <div class=" pb-5 border-b-4 border-azul">
      <p class="font-black text-2xl">Desarrollado por:</p>
      <p>Alejandro Moreno y Angel Poveda</p>
      <p>Noviembre de 2025</p>
    </div>
    <div class="pt-5">
      <p>INSTITUTO UNIVERSITARIO BELLAS ARTES</p>
      <p>DISEÑO GRAFICO</p>
      <p>3er SEMESTRE</p>
    </div>
    <img src="/BALogo.svg" alt="" class="w-40 fill-azul">
  </footer>
  </div>
</Layout>

<script src="../layouts/Animations.js" ></script>