---
import Boton from "../components/Boton.astro";
import TitulosAnim from "../components/TitulosAnim.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-10 max-w-250">
    <TitulosAnim name="noticias" titulo="Noticias UX" icono="/icons/Iconos-07-v.svg"></TitulosAnim>

    <p class="w-full text-blanco text-center text-2xl font-kaku">Las últimas novedades en el mundo de la experiencia del usuario en videojuegos.</p>

    <p class="text-lima text-[10pt]">¡Esta página actualmente está en fase de prototipado! Cosas como la maquetación, la navegación y la funcionalidad están definidas; sin embargo, el contenido aún sigue en desarrollo; por esa razón, es posible que algunos botones no funcionen.</p>

    <div class="relative h-200 md:h-100 flex flex-col justify-end p-10 w-full overflow-hidden rounded-2xl box-border">
      <div class="absolute left-0 top-0 bg-center w-full h-full bg-[url(/Noticias/1.webp)] bg-cover bg-no-repeat mask-linear-from-20% mask-linear-180 object-cover">
      </div>
      <div class="relative">
          <h2 class="text-5xl font-tektur font-black text-blanco m-0 mb-1">LO MÁS NUEVO</h2>
          <h3 class="text-3xl font-tektur font-medium text-lima m-0">Lanzamiento del proyecto "DEL MANDO AL DISEÑO"</h3>
          <p class="text-5xl font-kaku font-black text-blanco m-0 mb-1">28-11-2025</p>
      </div>
    </div>

    <h2 class="text-center font-tektur text-4xl text-blanco">Otras noticias UX</h2>
    <div class="flex flex-col lg:grid grid-cols-2 w-full gap-10 mt-10">
      
      <div class="relative flex flex-col justify-end aspect-1/2 md:aspect-2/1 w-full bg-lima p-5 box-border rounded-2xl overflow-hidden">
        <div class="absolute bg-[url(/Noticias/2.webp)] w-full h-full bg-cover bottom-0 left-0 bg-center mask-linear-to-70% mask-linear-from-50% mask-linear-180 brightness-70"></div>
        <h2 class="font-tektur text-3xl text-azul md:text-blanco m-0 z-1">Menús de Call of Duty CONFUSOS?</h2>
        <p class="font-kaku text-azul m-0 z-1">Usuarios reportan no entender el sistema de interfaces de Call of Duty, ¿culpa de una mala UX? ...</p>
      </div>
      <div class="relative flex flex-col justify-end aspect-1/2 md:aspect-2/1 w-full bg-lima p-5 box-border rounded-2xl overflow-hidden">
        <div class="absolute bg-[url(/Noticias/2.jpg)] w-full h-full bg-cover bottom-0 left-0 bg-center mask-linear-to-70% mask-linear-from-50% mask-linear-180 brightness-50"></div>
        <h2 class="font-tektur text-3xl text-azul md:text-blanco m-0 z-1">Seacret 1: la mala experiencia hecha polémica</h2>
        <p class="font-kaku text-azul m-0 z-1">El juego del polémico youtuber está en boca de todos; en este artículo analizaremos...</p>
      </div>
      <div class="relative flex flex-col justify-end aspect-1/2 md:aspect-2/1 w-full bg-lima p-5 box-border rounded-2xl overflow-hidden text-pretty">
        <div class="absolute bg-[url(/Noticias/3.jpg)] w-full h-full bg-cover bottom-0 left-0 bg-center mask-linear-to-70% mask-linear-from-50% mask-linear-180 brightness-50"></div>
        <h2 class="font-tektur text-3xl text-azul md:text-blanco m-0 z-1">El innovador UI de Dead Space</h2>
        <p class="font-kaku text-azul m-0 z-1">Este icónico juego de terror de supervivencia es conocido por su excelente interfaz de usuario integrada...</p>
      </div>

  </main>
</Layout>