---
const {images = []} = Astro.props;
import Dots from "./Dots";
---

<div class="carousel relative flex overflow-hidden scroll-smooth snap-x snap-mandatory w-full h-100 sm:h-full shrink-0 scrollbar-hidden rounded-2xl sEle">
  <div id="slides" class="flex transition-all duration-300 ease-[cubic-bezier(.33,.99,.7,.99)]">
      {
        images.map((img,i) => (
          <img id={i} src={img} class="object-cover w-full" />
        ))
      }
  </div>
</div>

<Dots client:load count={images.length} />
