<p class="dis m-0 text-blanco text-center font-semibold text-6xl md:text-6xl">DISEÑAR </p>
<p class="cre m-0 absolute xl:relative inset-9 md:inset-7 xl:inset-0 opacity-0 text-nowrap text-lima font-regular text-5xl md:text-6xl">ES CREAR</p> 
<p class="dis m-0 text-blanco text-center font-semibold text-4xl md:text-6xl">EXPERIENCIAS</p>

<script>
  import {animate, onScroll, createScope, stagger} from 'animejs';
  
  function pageLoad() {
  createScope({
    mediaQueries: {
      isMedium: '(width >= 80rem)',
    }
  })
  .add( self => {
    const { isMedium } = self.matches;
    animate('.dis', {
      y: isMedium ? 0 : stagger(['-2rem','2rem']),
      x: isMedium ? [stagger(['8rem','-8rem']),stagger(['-1rem','1rem'])] : 0,
      ease: 'inOut',
      autoplay: onScroll({
        enter: 'center+=10% top-=100%',
        leave: 'center-=10% bottom+=100%',
        sync: true,
      })
    })

    animate('.cre' , {
      'opacity': '100%',
      ease: 'inOut',
      autoplay: onScroll({
        enter: 'center+=10% top-=100%',
        leave: 'center-=10% bottom+=100%',
        sync: true
      })
    })
  });    
  }

  document.addEventListener("astro:page-load", pageLoad);

</script>