---
import ClientRouter from "astro/components/ClientRouter.astro"
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DMAD</title>
		<ClientRouter />
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	@import "tailwindcss";

	@font-face {
		font-family: tektur;
		font-style: normal;
		font-weight: 400 500 600 700 800 900;
		src: url("/Fuentes/Tektur/tektur.woff2") format('woff2');
	};

	@font-face {
		font-family: pixel;
		font-style: normal;
		src: url("/Fuentes/Pixeloide.woff2") format('woff2');
	};

	@font-face {
		font-family: trigger;
		font-style: normal;
		src: url("/Fuentes/Trigger.woff2") format('woff2');
	};

	@font-face {
		font-family: "Zen Kaku Gothic New";
		font-style: light;
		font-weight: 300;
		src: url("/Fuentes/Kaku/zenkakugothicnew-light.woff2") format('woff2');
	};

		@font-face {
		font-family: "Zen Kaku Gothic New";
		font-style: normal;
		font-weight: 400;
		src:
			url("/Fuentes/Kaku/zenkakugothicnew-regular.woff2") format('woff2');
	};

	@font-face {
		font-family: "Zen Kaku Gothic New";
		font-style: normal;
		font-weight: 500;
		src:
			url("/Fuentes/Kaku/zenkakugothicnew-medium.woff2") format('woff2');
	};

		@font-face {
		font-family: "Zen Kaku Gothic New";
		font-style: normal;
		font-weight: 700;
		src:
			url("/Fuentes/Kaku/zenkakugothicnew-bold.woff2") format('woff2');
	};
		@font-face {
		font-family: "Zen Kaku Gothic New";
		font-style: normal;
		font-weight: 900;
		src:
			url("/Fuentes/Kaku/zenkakugothicnew-black.woff2") format('woff2');
	};
	@theme {
		--color-lima: oklch(0.8438 0.1348 116.78);
		--color-azul: oklch(0.3612 0.1448 275.87);
		--color-blanco: oklch(0.9127 0.0084 91.49);

		--font-tektur: "tektur", "sans-serif";
		--font-kaku: "Zen Kaku Gothic New", "sans-serif";
		--font-trigger: "trigger", "sans-serif";
		--font-pixeloide: "pixeloide", "sans-serif";
	}
	
	@layer utilities {
		.scrollbar-hidden::-webkit-scrollbar {
			display: none;
		}
		.scrollbar-hidden {
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;     /* Firefox */
		}
  }

	body {
		@apply grid place-content-center bg-azul overflow-x-hidden;
	}

	body > div > main{
		@apply p-10 max-w-250;
	}

	body > div {
		@apply container relative overflow-x-hidden sm:overflow-visible;
	}
</style>
